
.project{
    width: 100vw;
    height: 50vh;
    padding-right: 50px;
    padding-left: 50px;
}
.project img{
    height: 30vh;
}
.project div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.dark{
    background-color: rgb(43, 43, 43);
}
.dark h1 , .dark h2 ,.dark h3{
    color: white;
}
.portfolio{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
}