
.table{
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: wrap;
    gap: 10px;
    padding: 50px;
    width: 50%;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    height: 60%;
    justify-content: space-around;
    padding: 10px;
    align-items: end;
    flex-direction: row;
}

.socials img{
    height: 80px;
}
.socials a {
    transition-duration: 200ms;
}
.socials a:hover{
    transform: translate(0, -7px);
}


.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.skill img:hover{
    transform: translateY(-10px);
}

.skill img{
    transition-duration: 200ms;
    width: 150px;
    border-radius: 100%;
}
.skill a{
    text-decoration: none;
    font-size: x-large; 
    font-weight: 900;
    color: rgb(216, 216, 216);
}