{
import os


folder_path = './images/skills'  # replace with your folder path
file_names = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]

def skills():
    global file_names
    sk = ""
    file_names.reverse()
    for i in file_names:
        tag = i.replace("logo.png", "")
        sk+= f'<Skill img="../images/skills/{i}" title="{tag}" tag="#{tag}" ></Skill>'
    return sk
}

<div class="main skills ">

    <h1>Here you can press to go to my experiences with each technology</h1>
    <div class="table" >
        {skills()}
    </div>
</div>
