<div class="socials" >
    <a href="https://github.com/spynetS">
        <img src="../images/291716_github_logo_social network_social_icon.png" alt="github link">
    </a>
    <a href="https://facebook.com">
        <img src="../images/5296499_fb_facebook_facebook logo_icon.png" alt="facebook link">
    </a>
    <a href="https://twitter.com/spynet8">
        <img src="../images/5296516_tweet_twitter_twitter logo_icon.png" alt="twitter link">
    </a>
    <a href="https://www.instagram.com/alfredrooos/">
        <img src="../images/5296765_camera_instagram_instagram logo_icon.png" alt="instagram link">
    </a>
</div>